#canvas {
    background-color: #FFFFFD;
    position: fixed;
}

* {
    margin: 0;
    padding: 0;
}

button:focus {
    outline: none;
}

ul,ol {
    list-style: none;
}

body {
    position: relative;
}

.tools {
    font-size: 2em;
    
    
}

.tools li {
    margin: 10px 0;
    cursor: pointer;
    transition: all .4s;
    display: block;
    width: 40px;
    margin: 20px auto;
}

.tools li button {
    width: 40px;
    height: 20px;
    cursor: pointer;
    background: transparent;
    border-radius: 3px;
}

.tools li button:hover {
    background: #eaa38c;
    color: #fff;
}

.tools li:hover {
    /* transform: scale(1.2); */

}

li.active {
    transform: scale(1.2) rotate(-10deg);
    color: #B14E49;
    box-shadow: 1px 1px 5px 1px;
}


canvas.using {
    cursor: none;
}

#strokeWidthControl {
    position: relative;
    width: 80%;
    margin: 25px auto 15px;
}

#strokeWidthControl:after {
    content: "Brush Width & Eraser Size";
    font-size: 10px;
    position: absolute;
    top: -2.3em;
    left: 0;
}

#colorPicker {
    margin: 10px auto;
    border: none;
    box-shadow: 1px 2px 5px 0 #eaa38c;
    width: 50%;
    
}
.tools-panel input {
    display: block;
}

.tools-panel {
    position: fixed;
    left: -5em;
    top: 2em;
    box-shadow: 1px 1px 5px 0px #eaa38c;
    text-align: center;
    width: 100px;
    transition: all .4s ease-in-out;
}

.tools-panel.panelActivate {
    left: 0em;
}